<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="estisharatibussiness.users.com">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        >
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>

        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivityConsultantCategories"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivityConsultantDateTime"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.AutoInitEnabled"
            android:value="true" />

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>


        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.PostDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.PostsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.CreatePostActivity"
            android:screenOrientation="portrait" />
        <activity android:name="estisharatibussiness.users.com.UserInterfaces.ActivitySurveyList" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivitySplashTemp"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="OPEN_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.TestimonialsDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivityTestimonials"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.MyAppointment"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivityInviteApp"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivitySurvey"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivityBlogDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivityBlogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivityVideoFullScreen"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.FullScreenAppTheme" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivityGroupChatPage"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivityMyPackages"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivitySearch"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivityFAQ"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivityOffers"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivityFavorites"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.VideoCallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivityIncomingCall"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.VoiceCallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivityAddPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.PaymentMethods"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.PhotoViewer"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ChatPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ChatHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ThanksPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ConsultantsInSideThePackageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ExistingCourses"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivityPackagesSelection"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivityPackages"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivityCourseResource"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivityConsultationDetailsVideo"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivityCourseDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.Notifications"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivityConsultantDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivityLegalAdvice"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivityMyProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivityPages"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivityContactUs"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.OnlineCourses"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivityMyCourses"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivityMyConsultations"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.UserDrawerActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="NotificationClick" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.OnBoarding"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivityForgotPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.VerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.LoginAndRegistration"
            android:screenOrientation="portrait" />
        <activity
            android:name="estisharatibussiness.users.com.UserInterfaces.ActivitySplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/orange" />

        <service
            android:name="estisharatibussiness.users.com.UtilsClasses.FCMService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>