<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="digital.upbeat.estisharati_user">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".UI.ChatPage">

        </activity>
        <activity android:name=".UI.ChatHome"></activity>
        <activity android:name=".UI.ThanksPage" />
        <activity android:name=".UI.ConsultantsInThePackage" />
        <activity android:name=".UI.ExistingCourses" />
        <activity android:name=".UI.PackagesSelection" />
        <activity android:name=".UI.Packages" />
        <activity android:name=".UI.PreviewCourse" />
        <activity android:name=".UI.ConsultationDetailsVideo" />
        <activity android:name=".UI.CourseDetails" />
        <activity android:name=".UI.Notifications" />
        <activity android:name=".UI.ConsultantDetails" />
        <activity android:name=".UI.LegalAdvice" />
        <activity android:name=".UI.MyProfile" />
        <activity android:name=".UI.AboutUs" />
        <activity android:name=".UI.ContactUs" />
        <activity android:name=".UI.OnlineCourses" />
        <activity android:name=".UI.MyCourses" />
        <activity android:name=".UI.MyConsultations" />
        <activity android:name=".UI.UserDrawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.OnBoarding" />
        <activity
            android:name=".UI.ForgotPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Verification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.LoginAndRegistration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.SplashScreen"
            android:screenOrientation="portrait" />
    </application>

</manifest>